<h3>{{username}}</h3>
<h4>User Session Info</h4>
<span>Issued at: </span>{{iat}}
<span>Expires: </span>{{exp}}

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Recusandae
  voluptate perferendis consectetur deleniti in nobis voluptas obcaecati, quia
  eveniet earum.</p>